#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.select-button {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 50px;
  height: 50px;
  padding: 20px;
  margin: 0.25em
}

.disabled-select-button {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 50px;
  height: 50px;
  padding: 20px;
  margin: 0.25em;
  background-color: rgb(215, 215, 215);
  transition: none
}

.disabled-select-button:hover {
  border: none;
}

.disabled-select-button:focus {
  outline: none;
}

.selected-disabled-select-button {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 50px;
  height: 50px;
  padding: 20px;
  margin: 0.25em;
  background-color: rgb(200, 255, 161);
  transition: none
}

.selected-disabled-select-button:hover {
  border: none;
}

.selected-disabled-select-button:focus {
  outline: none;
}

.select-button-container {
  display: flex;
}

.svg-icon {
  width: 24px; 
  height: 24px;
}